.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20pt;
    padding: 0 200px 0 200px;
}
#aboutme-img {
    width: 75%;
}
.about-picture {
    display: flex;
    justify-content: center;
}
.about-p {
    padding: 40px 10% 0 10%;
}
.about-resumebtn{
    padding: 40px 10% 0 10%;
}
.skills {
    padding: 160px 200px 0 200px;
    margin-bottom: 160px;
}
.skills-container {
    display: flex;
    justify-content: space-between;
    padding: 0 10% 0 10%;
}
.skill-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 350px;
    background-color: #BBBBBB;
    border-radius: 8px;
    font-size: 35pt;
    font-weight: 700;
    color: white;
    text-align: center;
}
.skill-box:hover {
    background-color: #751113;
}
.skill-box:active {
    background-color: #5c0a0b;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.skill-box p {
    margin: 0;
}
.skills-icons {
    width: 25%;
}
.middlebox {
    margin: 0 20px 0 20px;
}
@media only screen and (max-width: 1000px) {
    input {

    }
    .skills {
        padding: 40px 10% 0 10%;
    }
    .about {
        padding: 0;
    }
    .about h1 {
        text-align: center;
    }
    .about-p {
        font-size: 12pt;
    }
    .about-info {
        display: flex;
        justify-content: center;
    }
    .about-resumebtn {
        display: flex;
        justify-content: center;
    }
    .skills-container {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
    .skill-box {
        padding: 20px;
        height: auto;
        width: auto;
        text-align: center;
        font-size: 4vw;
    }
    .skills-icons {
        display: none;
    }
}